<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" type="image/svg+xml" href="{{ path '/favicon/favicon.svg' }}">
    <link rel="icon" type="image/png" href="{{ path '/favicon/favicon.png' }}">
    <link rel="stylesheet" href="{{ path '/css/open-props.min.css' }}">
    <link rel="stylesheet" href="{{ path '/css/open-props-normalize.min.css' }}">
    <link rel="stylesheet" href="{{ path '/css/reactive-graph.css' }}">
    <link rel="stylesheet" href="{{ path '/fonts/fonts.css' }}">
    <title>Preview</title>
    <style>
        main {
            display: grid;
            grid-template-columns: 1fr 1fr 1fr;
            grid-template-rows: 1fr 1fr;
            place-content: center;
            justify-content: space-around;
            gap: var(--size-3);
            padding: var(--size-3);
        }
    </style>
</head>
<body>
    <main>
      {{{ yield }}}
      {{{ yield }}}
      {{{ yield }}}
      {{{ yield }}}
      {{{ yield }}}
      {{{ yield }}}
    </main>
</body>
</html>
