<div class="card {{#if surface}}card--{{surface}}{{/if}}">
    <img src="{{imgUrl}}" alt="{{imgTitle}}">
    <h5>{{ title }}</h5>
    <p>{{ text }}</p>
    <a href="{{linkUrl}}">{{linkTitle}}</a>
</div>
